SECRET_KEY=THIS_IS_NOT_A_GOOD_SECRET
DEBUG=True
ALLOWED_HOSTS=127.0.0.1, .localhost, .herokuapp.com
INTERNAL_IPS=127.0.0.1

CLOUDINARY_CLOUD_NAME=GET_FROM_CLOUDINARY
CLOUDINARY_API_KEY=GET_FROM_CLOUDINARY
CLOUDINARY_API_SECRET=GET_FROM_CLOUDINARY

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_USE_TLS=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
