{% extends 'sub_base.html' %}

{% block title %}500. Erro interno inesperado | {% endblock title %}

{% block sub_content %}
    <div class="container">
        <div class="title row">
            <h2>500. Erro interno inesperado</h2>
        </div>
    </div>
    <section class="http-error">
        <div class="container">
            <p>Nossa equipe já foi notificada do problema.<br />
               Caso necessário entre em contato com <a href="mailto:contato@aloisioimoveis.com.br?subject=500 Erro interno inesperado">contato@aloisioimoveis.com.br</a></p>
        </div>
    </section>
{% endblock sub_content %}
