/* Colors */

$color-red: #CC1818;

/* Font Weights */

$weight-normal: 400;
$weight-bold:   700;

/* Break Points */

$breakpoints: (
    phone:          320px,
    tablet:         768px,
    desktop:        992px
);
