{% extends 'sub-base.html' %}

{% load static %}
{% load cloudinary %}
{% load currency_filters %}
{% load text_filters %}

{% block title %}Comprar | {% endblock title %}

{% block sub_content %}
<!-- Content -->
<div class="container">

    <!-- Title -->
    <div class="title row">
        <div class="col-md-6">
            <h2>Comprar</h2>
        </div>
        <div class="col-md-6 order">
            <sort-options selected=""></sort-options>
        </div>
    </div>

</div> <!-- /container -->

<!-- Results -->
<section class="results">
    <div class="container">
        {% for property in properties %}
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="img-overlay">
                            <img src="{% cloudinary_url property.photos.first.image %}" class="img-responsive" />
                            <div class="layer-overlay">
                                <div class="value">
                                    <span class="price">{{ property.price|currency_brl }}</span>
                                    {% if property.conditions %}
                                        <span class="conditions">+ {{ property.conditions }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <div class="dados-do-imovel">
                            <div class="info">
                                <h3>{{ property.property_type }}</h3>
                                <div class="bairro">{{ property.neighborhood }} - {{ property.city }}</div>
                                {% if property.is_house or property.is_apartment %}
                                    <div>
                                        <span>{{ property.total_bedroom }} quarto{{ property.total_bedroom|pluralize:"s" }}</span>
                                        <span>{{ property.total_suite }} suíte{{ property.total_suite|pluralize:"s" }}</span>
                                        <span>{{ property.total_bathroom }} banheiro{{ property.total_bathroom|pluralize:"s" }}</span>
                                        <span>{{ property.total_garage }} vaga{{ property.total_garage|pluralize:"s" }} de garagem</span>
                                    </div>
                                {% elif property.area %}
                                    <div>
                                        <span>Área de {{ property.area }}</span>
                                    </div>
                                {% endif %}
                                {% if property.obs %}
                                    <div class="obs">{{ property.obs|truncatelinebreaks:"2,100"|truncatechars:100|linebreaks }}</div>
                                {% endif %}
                            </div>
                            <div class="actions">
                                <a href="#" class="btn btn-default btn-theme">Ver detalhes</a>
                                <a href="#" class="btn btn-default btn-theme"><i class="fa fa-camera"></i> Ver fotos ({{ property.photos.count }})</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <ul class="pagination pagination-lg">
            <li><a href="#">1</a></li>
            <li class="active"><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
        </ul>
    </div>
</section>
{% endblock sub_content %}
