{% extends 'sub_base.html' %}

{% load static %}
{% load cloudinary %}
{% load currency_filters %}
{% load text_filters %}
{% load url_tags %}

{% block title %}Comprar | {% endblock title %}

{% block sub_content %}
<!-- Content -->
<div class="container">

    <!-- Title -->
    <div class="title row">
        <div class="col-md-6">
            <h2>Comprar</h2>
        </div>
        <div class="col-md-6 order">
            <sort-options selected="{{ params.ordem }}" v-bind:params="{{ params }}"></sort-options>
        </div>
    </div>

</div> <!-- /container -->

<!-- Results -->
<section class="results">
    <div class="container">
        {% for property in properties %}
            <div class="panel panel-default">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="img-overlay">
                            <div class="wrapper">
                                <div class="four-by-three aspect-ratio"></div>
                                <div class="content">
                                    <img src="{% cloudinary_url property.photos.first.image %}" class="img-responsive" width="100%" />
                                </div>
                            </div>
                            <div class="layer-overlay">
                                <div class="value">
                                    <span class="price">{{ property.price|currency_brl }}</span>
                                    {% if property.conditions %}
                                        <span class="conditions">+ {{ property.conditions }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-xs-12">
                        <div class="dados-do-imovel">
                            <div class="info">
                                <h3>{{ property.property_type }}</h3>
                                <div class="bairro">{{ property.neighborhood }} - {{ property.city }}</div>
                                {% if property.is_house or property.is_apartment %}
                                    <div>
                                        <span>{{ property.total_bedroom }} quarto{{ property.total_bedroom|pluralize:"s" }}</span>
                                        <span>{{ property.total_suite }} suíte{{ property.total_suite|pluralize:"s" }}</span>
                                        <span>{{ property.total_bathroom }} banheiro{{ property.total_bathroom|pluralize:"s" }}</span>
                                        <span>{{ property.total_garage }} vaga{{ property.total_garage|pluralize:"s" }} de garagem</span>
                                    </div>
                                {% elif property.area %}
                                    <div>
                                        <span>Área de {{ property.area }}</span>
                                    </div>
                                {% endif %}
                                {% if property.obs %}
                                    <div class="obs">{{ property.obs|truncatelinebreaks:"2,100"|truncatechars:100|linebreaks }}</div>
                                {% endif %}
                            </div>
                            <div class="actions">
                                <a href="{{ property.get_absolute_url }}" class="btn btn-default btn-theme">Ver detalhes</a>
                                <a href="{{ property.get_absolute_url }}" class="btn btn-default btn-theme"><i class="fa fa-camera"></i> Ver fotos ({{ property.photos.count }})</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if properties.has_other_pages %}
            <ul class="pagination pagination-lg">
                {% if properties.has_previous %}
                    <li><a href="?{% url_replace pagina=properties.previous_page_number %}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in properties.paginator.page_range %}
                    {% if properties.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?{% url_replace pagina=i %}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if properties.has_next %}
                    <li><a href="?{% url_replace pagina=properties.next_page_number %}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</section>
{% endblock sub_content %}
