{% extends 'sub_base.html' %}

{% load static %}

{% block title %}A Empresa | {% endblock title %}

{% block sub_content %}
<!-- Title -->
<div class="container">
    <div class="title row">
        <h2>A Empresa</h2>
    </div>
</div>

<!-- Company -->
<section>
    <div class="container">
        <h4>Sobre nós</h4>
        <p>A ALOISIO IMÓVEIS EMPREENDIMENTOS IMOBILIÁRIOS LTDA, empresa fundada em 03/09/1991, tendo como proprietários ALOISIO NOGUEIRA, profissional da área imobiliaria à mais de 25 anos e seu filho VÂNER NOGUEIRA, advogado atuante, com amplo conhecimento em direito imobiliário. A empresa tem todo o seu atendimento voltado a satisfação de seus clientes, realizando os seus negócios com clareza, honestidade e competência. A empresa possui um amplo estacionamento, para que você cliente se sinta a vontade quando nos procurar a Rua Dr. Jorge Winther, 297 - Centro - Taubaté - SP.</p>
        <br>
        <h4>Onde estamos</h4>
        <!-- <iframe style="background-color: #f2f2f2;" width="100%" height="600" class="mapa" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;hl=pt-BR&amp;q=R.+Dr.+Jorge+Winther,+297+-+Centro,+Taubat%C3%A9+-+SP,+12010-150,+Brasil&amp;sll=-14.179186,-50.449219&amp;sspn=65.551907,163.476563&amp;ie=UTF8&amp;cd=1&amp;geocode=0,-23.029475,-45.556324&amp;ll=-23.019866,-45.552149&amp;spn=0.008018,0.019956&amp;z=15&amp;iwloc=addr&amp;om=0&amp;output=embed&amp;s=AARTsJpDlUxJ0bH4BvPzbZIXamciU8qrIg"></iframe> -->
        <div style="width: 100%"><iframe style="background-color: #f2f2f2;" width="100%" height="600" src="https://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=R.%20Dr.%20Jorge%20Winther%2C%20297%20-%20Centro%2C%20Taubat%C3%A9%20-%20SP%2C%2012010-150%2C%20Brasil+(Alo%C3%ADsio%20Im%C3%B3veis)&amp;ie=UTF8&amp;t=&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/it/misura-distanza-area-google-maps.html">Misurare distanze google maps</a></iframe></div><br />
    </div>
</section>
{% endblock sub_content %}
