{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- Header -->
<header class="jumbotron">
    <div class="container">
        <div id="search" class="search-box" v-cloak>
            <form class="form-inline">
                <fieldset>
                    <div class="form-group">
                        <label for="finalidade">O que você precisa?</label><br>
                        <div id="finalidade" class="btn-group" role="group">
                            <button type="button" class="btn btn-default btn-lg"
                                    v-bind:class="{ active: finalidade === 'alugar' }"
                                    v-on:click="setFinalidade('alugar')">Alugar</button>
                            <button type="button" class="btn btn-default btn-lg"
                                    v-bind:class="{ active: finalidade === 'comprar' }"
                                    v-on:click="setFinalidade('comprar')">Comprar</button>
                        </div>
                    </div>
                    <div class="form-group search-group">
                        <label>Qual tipo?</label><br>
                        <div class="btn-group">
                            <button id="btn-tipo-de-imovel" class="btn btn-default btn-lg dropdown-toggle"
                                    type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% verbatim %} {{ currentTipoDeImovel.label }} {% endverbatim %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="tipoDeImovel in tiposDeImovel">
                                    <a href="javascript:void(0);"
                                       v-on:click="setTipoDeImovel(tipoDeImovel)">{% verbatim %} {{ tipoDeImovel.label }} {% endverbatim %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group search-group">
                        <label>Onde?</label><br>
                        <div class="btn-group">
                            <button id="btn-cidades" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% verbatim %} {{ currentCidade.label }} {% endverbatim %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="cidade in cidades">
                                    <a href="javascript:void(0);"
                                       v-on:click="setCidade(cidade)">{% verbatim %} {{ cidade.label }} {% endverbatim %}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button id="btn-bairros" class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% verbatim %} {{ currentBairro.label }} {% endverbatim %} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li v-for="bairro in bairros">
                                    <a href="javascript:void(0);"
                                       v-on:click="setBairro(bairro)">{% verbatim %} {{ bairro.label }} {% endverbatim %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right search-button-group">
                        <a href="#" v-if="!searchForFicha" v-on:click="searchForFicha = true">Buscar por ficha</a>
                        <input id="input-numero-da-ficha" type="number" class="input-lg"
                               placeholder="Nº da ficha" v-else />
                        <button id="btn-search" class="btn btn-lg" type="button"><i class="fa fa-search"></i> &nbsp;Buscar</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</header>

<!-- Carousel -->
<div class="container">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class=""></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><i class="fa fa-quote-left" aria-hidden="true"></i> Mais de 25 anos de tradição, <br>fazendo acontecer na cidade <i class="fa fa-quote-right" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><i class="fa fa-quote-left" aria-hidden="true"></i> Respeitamos a sua família <br>e queremos o melhor pra você <i class="fa fa-quote-right" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h1><i class="fa fa-quote-left" aria-hidden="true"></i> Cuidamos do seu imóvel com <br>carinho pra não ter dor de cabeça <i class="fa fa-quote-right" aria-hidden="true"></i></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="row">
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/destaque1.JPG' %}"  alt="">
                <div class="info">
                    <span class="badge badge-finalidade">Alugar</span>
                    <span class="badge badge-preco badge-primary pull-right">R$ 950,00</span>
                </div>
                <div class="caption">
                    <h3>Casa</h3>
                    <p>Independência - Taubaté/SP</p>
                    <p><span class="badge badge-room">2</span> <i class="fa fa-bed"></i></p>
                    <a href="#" class="btn btn-primary" role="button">Ver detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/destaque2.JPG' %}"  alt="">
                <div class="info">
                    <span class="badge badge-finalidade">Comprar</span>
                    <span class="badge badge-preco badge-primary pull-right">R$ 1.200.000,00</span>
                </div>
                <div class="caption">
                    <h3>Apartamento</h3>
                    <p>Independência - Taubaté/SP</p>
                    <p><span class="badge badge-room">2</span> <i class="fa fa-bed"></i></p>
                    <a href="#" class="btn btn-primary" role="button">Ver detalhes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="thumbnail">
                <img src="{% static 'img/destaque3.JPG' %}"  alt="">
                <div class="info">
                    <span class="badge badge-finalidade">Comprar</span>
                    <span class="badge badge-preco badge-primary pull-right">R$ 737.000,00</span>
                </div>
                <div class="caption">
                    <h3>Terreno</h3>
                    <p>Independência - Taubaté/SP</p>
                    <p><span class="badge badge-room">2</span> <i class="fa fa-bed"></i></p>
                    <a href="#" class="btn btn-primary" role="button">Ver detalhes</a>
                </div>
            </div>
        </div>
    </div>

{#        <div class="load-more">#}
{#            <button class="btn btn-default">Carregar mais<br><i class="glyphicon glyphicon-chevron-down"></i></button>#}
{#        </div>#}
</div> <!-- /container -->

{% endblock content %}
