{% extends 'base.html' %}

{% load static %}
{% load currency_filters %}
{% load cloudinary %}

{% block content %}
<!-- Header -->
<header class="jumbotron">
    <div class="container">
        <home-search base-url="{% url 'search' %}"></home-search>
    </div>
</header>

<!-- Carousel -->
<section id="home-carousel">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <a href="{% url 'credpago_rent' %}" title="Clique e saiba mais">
                    <img class="stamp img-responsive" src="{% static 'img/credpago-stamp.png' %}">
                </a>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Mais de 25 anos de experiência
                                        <br>
                                        <br>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Confiança e credibilidade
                                        <br>
                                        <br>
                                    </h1>
                                </div>
                            </div>
                        </div>
                        <div class="item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Departamentos especializados para melhor atendê-lo</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Content -->
<section class="container">
    <div class="row">
        {% for property in properties %}
            <div class="col-md-4">
                <div class="thumbnail">
                    {% cloudinary  property.specific.photos.first.protected_thumbnail_md %}
                    <div class="info">
                        <span class="badge badge-finalidade">{{ property.intent }}</span>
                        <span class="badge badge-preco badge-primary pull-right">{{ property.price|currency_brl }}</span>
                    </div>
                    <div class="caption">
                        <h3>{{ property.specific.property_type }}</h3>
                        <p>{{ property.neighborhood }} - {{ property.city }}</p>
                        {% if property.house or property.apartment %}
                            <p><span class="badge badge-room">2</span> <i class="fa fa-bed"></i></p>
                        {% endif %}
                        <a href="{{ property.specific.get_absolute_url }}" class="btn btn-primary" role="button">Ver detalhes</a>
                    </div>
                </div>
            </div>
        {% endfor %}
{#        <div class="load-more">#}
{#            <button class="btn btn-default">Carregar mais<br><i class="glyphicon glyphicon-chevron-down"></i></button>#}
{#        </div>#}
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script src="{% static 'js/components/home-search.js' %}"  type="text/javascript"></script>
{% endblock scripts %}
