{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Search -->
    <search-bar finalidade="{{ params.finalidade|default:"alugar" }}"
                tipo="{{ params.tipo|default:"casa" }}"
                :cidade="{{ params.cidade|default:0 }}"
                :bairro="{{ params.bairro|default:0 }}">
    </search-bar>

    {% block sub_content %}
    {% endblock sub_content %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/components/search-bar.js' %}"  type="text/javascript"></script>
    <script src="{% static 'js/components/sort-options.js' %}"  type="text/javascript"></script>

    {% block sub_scripts %}
    {% endblock sub_scripts %}

{% endblock scripts %}
