{% load static %}

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 footerleft ">
                <div class="logofooter"><img src="{% static 'img/footer-logo.png' %}"  /></div>
                <table class="table">
                    <tbody>
                    <tr>
                        <td align="right"><i class="fa fa-map-marker"></i></td>
                        <td>Rua Dr. Jorge Winther, 297 - Centro, Taubaté/SP 12010-150</td>
                    </tr>
                    <tr>
                        <td align="right"><i class="fa fa-phone"></i></td>
                        <td>(12) 3622-2800 ou 99127-6854 (Whatsapp)</td>
                    </tr>
                    <tr>
                        <td align="right"><i class="fa fa-envelope"></i></td>
                        <td>contato@aloisioimoveis.com.br</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-6 paddingtop-bottom">
                <div class="fb-page pull-right" data-href="https://www.facebook.com/imobiliariaaloisio" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <a href="https://www.facebook.com/imobiliariaaloisio"><i class="fa fa-facebook-square"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <p>&copy; 2018 Aloísio Imóveis | Todos os direitos reservados.</p>
    </div>
</div>
