<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/novo-logo-inverse.png" width="125" height="52" /></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Alugar</a></li>
                    <li><a href="#">Comprar</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Entrar</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>

    <section class="top-page">
        <div class="container">
            <div id="search" class="search-box" v-cloak>
                <form class="form-inline">
                    <fieldset>
                        <div class="form-group">
                            <label for="finalidade">O que você precisa?</label><br>
                            <div id="finalidade" class="btn-group" role="group">
                                <button type="button" class="btn btn-default"
                                        v-bind:class="{ active: finalidade === 'alugar' }"
                                        v-on:click="setFinalidade('alugar')">Alugar</button>
                                <button type="button" class="btn btn-default"
                                        v-bind:class="{ active: finalidade === 'comprar' }"
                                        v-on:click="setFinalidade('comprar')">Comprar</button>
                            </div>
                        </div>
                        <div class="form-group search-group">
                            <label>Qual tipo?</label><br>
                            <div class="btn-group">
                                <button id="btn-tipo-de-imovel" class="btn btn-default dropdown-toggle"
                                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ currentTipoDeImovel.label }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="tipoDeImovel in tiposDeImovel">
                                        <a href="javascript:void(0);"
                                           v-on:click="setTipoDeImovel(tipoDeImovel)">{{ tipoDeImovel.label }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group search-group">
                            <label>Onde?</label><br>
                            <div class="btn-group">
                                <button id="btn-cidades" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ currentCidade.label }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="cidade in cidades">
                                        <a href="javascript:void(0);"
                                           v-on:click="setCidade(cidade)">{{ cidade.label }}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="btn-group">
                                <button id="btn-bairros" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ currentBairro.label }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li v-for="bairro in bairros">
                                        <a href="javascript:void(0);"
                                           v-on:click="setBairro(bairro)">{{ bairro.label }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="btn-search" class="btn" type="button"><i class="fa fa-search"></i> &nbsp;Buscar</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <!-- Content -->
    <div class="container">

        <!-- Title -->
        <div class="title row">
            <h2>Contato</h2>
        </div>

    </div> <!-- /container -->


    <!-- Contato -->
    <section class="contato">
        <div class="container">
            <form class="form-horizontal">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label class="col-lg-1 control-label hidden-xs hidden-sm hidden-md">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-user fa-stack-1x"></i>
                                    </span>
                                </label>
                                <div class="col-lg-11 col-md-12">
                                    <input type="text" class="form-control input-lg" placeholder="Por favor digite o seu nome">
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="control-label">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-envelope fa-stack-1x"></i>
                                    </span>
                                </label>
                                <input type="text" class="form-control input-lg" placeholder="Por favor digite o seu e-mail">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-phone fa-stack-1x"></i>
                                    </span>
                                </label>
                                <input type="text" class="form-control input-lg" placeholder="Por favor digite o telefone">
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    <span class="fa-stack fa-lg">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-pencil fa-stack-1x"></i>
                                    </span>
                                </label>
                                <textarea class="form-control textarea-lg" rows="10" placeholder="Sua mensagem"></textarea>
                            </div> -->
                            <div class="col-lg-offset-1">
                                <button id="btn-send" class="btn">Enviar</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 footerleft ">
                    <div class="logofooter"><img src="img/footer-logo.png" /></div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td align="right"><i class="fa fa-map-marker"></i></td>
                            <td>Rua Dr. Jorge Winther, 297 - Centro, Taubaté/SP 12010-150</td>
                        </tr>
                        <tr>
                            <td align="right"><i class="fa fa-phone"></i></td>
                            <td>(12) 3622-2800</td>
                        </tr>
                        <tr>
                            <td align="right"><i class="fa fa-envelope"></i></td>
                            <td>imobiliaria@aloisioimoveis.com.br</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-sm-6 paddingtop-bottom">
                    <div class="fb-page pull-right" data-href="https://www.facebook.com/aloisioimoveis" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                        <a href="https://www.facebook.com/facebook"><i class="fa fa-facebook-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <p>&copy; 2017 Aloísio Imóveis | Todos os direitos reservados.</p>
        </div>
    </div>
</div> <!-- /app -->

<!-- Scripts -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="node_modules/vue/dist/vue.min.js"></script>
<script src="js/main.js" type="text/javascript"></script>

</body>
</html>
