/**
 * Load More
 */

.load-more {
    text-align: center;
}

.load-more .btn {
    border: 0;
    text-transform: uppercase;
    font-size: 13pt;
    margin-top: 10px;
}

.load-more i {
    font-size: 16pt;
    margin-top: 10px;
}
