/**
 * View
 */

.view {
    background: #fff;
}

.view img,
.left.carousel-control,
.right.carousel-control{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
